:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
}

section {
  position: absolute;
  background: black;
  width: 100vw;
  height: 100vh;
  inset: 0;
  cursor: pointer;
  display: grid;
  font-size: 48px;
  place-content: center;
  text-wrap: balance;
}

.pad-buttons {
  display: none;
  justify-content: center;
  margin: 20px auto;
}

.pad-buttons button {
  padding: 10px;
}

header {
  justify-content: center;
  margin: 4px auto;
  display: flex;
}

footer {
  display: inline;
}

@media (width <= 762px) {
  .pad-buttons {
    display: block;
  }
}
