:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
}

section {
  position: absolute;
  background-image: url("./public/gpt4o_nux_bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  inset: 0;
  cursor: pointer;
  display: grid;
  font-size: 48px;
  place-content: center;
  text-wrap: balance;
}

.pad-buttons {
  display: none;
  justify-content: center;
  margin: 20px auto;
}

.pad-buttons button {
  padding: 14px;
  margin: 4px;
  border-radius: 6px;
  box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.486);
}

.pad-buttons button:focus-visible {
  box-shadow: none;
}

header {
  justify-content: center;
  margin: 4px auto;
  display: flex;
}

footer {
  display: inline;
}

@media (width <= 762px) {
  section {
    font-size: 36px;
  }
  .pad-buttons {
    display: block;
  }
}

.gameover {
  position: absolute;
  border: 1px solid #444;
  padding: 20px;
  background-color: #242424;
  top: 25%;
  left: 33%;
}

.reproduction-buttons {
  display: flex;
  border: 1px solid #444;
}

.reproduction-buttons > button:hover {
  border-radius: 4px;
}

#pause-button {
  margin: 10px auto;
  padding-inline: 4px;
  cursor: pointer;
}
#play-button {
  margin: 10px auto;
  padding-inline: 6px;
  cursor: pointer;
}
#backward-button {
  margin: 10px auto;
  padding-inline: 6px;
  cursor: pointer;
}
#forward-button {
  margin: 10px auto;
  padding-inline: 6px;
  cursor: pointer;
}
